.header {
  background-color: #ede6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Crete Round", serif;

  &__img {
    height: 50px;
    margin-top: 25px;
  }
}
